@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

/* Pratik Boghani */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.bg-hevy-dark {
  background-color: #111317;
}

.active {
  background-color: #f04f24;
  font-weight: bold;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #111317;
  color: #fff;
  text-align: center;
  padding: 1px 0;
}

.text-center {
  text-align: center;
}

.init-button {
  background-color: red;
  color: white;
  font-size: 1rem;
  border: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

/* Login */
h1 {
  text-align: center;
  margin-bottom: 20px;
}

form label {
  display: block;
  margin-bottom: 5px;
}
form input[type="text"],
form input[type="password"],
form input[type="submit"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}
form input[type="submit"] {
  background-color: #111317;
  color: #fff;
  border: none;
  cursor: pointer;
}
form input[type="submit"]:hover {
  background-color: #323744;
}

/*cart*/

.btn {
  display: inline-block;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  background-color: #111317;
  color: #fff;
  border: 1px solid #111317;
}

.btn:hover {
  background-color: #111317;
}

/*Checkout*/
/* Checkout Summary Styles */

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th,
table td {
  border: 1px solid #ccc;
  padding: 8px;
}

table th {
  background-color: #f2f2f2;
}

table td {
  text-align: center;
}

table td strong {
  font-weight: bold;
}

/* bootstrap override */

.navbar-brand {
  font-weight: bold;
  color: #ffffff;
  font-size: xx-large;
  font-family: "Pacifico", cursive;
}

.navbar-brand:hover {
  color: #f04f24;
}

.bg-body-tertiary:hover,
.bg-body-tertiary:focus,
.bg-body-tertiary:active {
  color: #323744;
  background-color: #f04f24;
}

.navbar-nav .nav-link {
  color: #fff;
}

.nav-link.disabled,
.nav-link:disabled {
  color: #ffffffc8;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: #fff;
}

.navbar:hover,
.navbar:focus,
.navbar:active {
  background-color: #ffffff;
}

.navbar-toggler,
.navbar-toggler-icon {
  color: #f04f24;
  background-color: #ffffff;
}

.bg-body-tertiary {
  background-color: #323744 !important;
}
