/* Ankit Maniya */
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

/* Pratik Boghani */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
  background-color: #282c37;
  color: white;
}

.bg-hevy-dark {
  background-color: #111317;
}

.bg-light-dark {
  background-color: #323744;
}

.bg-orange {
  background-color: #f04f24;
}

.btn-orange {
  color: #fff;
  background-color: #f04f24;
  border-color: #f04f24;
}

.btn-orange:hover {
  color: #fff;
  background-color: #d4401d;
  border-color: #d4401d;
}

.btn-orange:focus {
  box-shadow: 0 0 0 0.2rem rgba(240, 79, 36, 0.25);
}

.btn-orange:active {
  color: #fff;
  background-color: #d4401d;
  border-color: #d4401d;
}

.active {
  background-color: #f04f24;
  font-weight: bold;
}

.init-button {
  background-color: red;
  color: white;
  font-size: 1rem;
  border: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

/*Checkout*/
/* Checkout Summary Styles */

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th,
table td {
  border: 1px solid #ccc;
  padding: 8px;
}

table th {
  background-color: #f2f2f2;
}

table td {
  text-align: center;
}

table td strong {
  font-weight: bold;
}

/* Ankit Maniya */
/* bootstrap override */

.font-Pacifico {
  font-family: "Pacifico", cursive;
}

.navbar-brand {
  font-weight: bold;
  color: #ffffff;
  font-size: xx-large;
  font-family: "Pacifico", cursive;
}

.navbar-brand:hover {
  color: #f04f24;
}

.bg-body-tertiary:hover,
.bg-body-tertiary:focus,
.bg-body-tertiary:active {
  color: #111317;
  background-color: #f04f24;
}

.navbar-nav .nav-link {
  color: #fff;
}

.nav-link.disabled,
.nav-link:disabled {
  color: #ffffffc8;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: #fff;
}

.navbar:hover,
.navbar:focus,
.navbar:active {
  background-color: #ffffff;
}

.navbar-toggler,
.navbar-toggler-icon {
  color: #f04f24;
  background-color: #ffffff;
}

.bg-body-tertiary {
  background-color: #111317 !important;
}

.img-height {
  max-width: 100px;
  max-height: 100px;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}


.card, .img {
  transition: transform 0.3s ease;
}

.card:hover, .img:hover {
  transform: scale(0.9);
}